{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm {{ .Site.Params.author }}, a <strong>{{ .Site.Params.Description}}</strong>.</h3>
        <h3>I specialise in <strong>Ruby (on Rails) and JavaScript/TypeScript (React)</strong> applications.</h3>
        <h3 style='line-height: 1.5;'>My strength lies in being able to work all the way from idea validation and prototype creation, to development, deployment, and scaling of the application.</h3>
        <h3>Visit the <a href="{{ .Site.BaseURL }}projects/"> projects list</a> to see a selection of projects I have been involved with.</h3>
        <h3>You can also see my professional <a href="{{ .Site.BaseURL }}resume.pdf">resume</a>.</h3>
        <h3 style='line-height: 1.5;'>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> and let's see how I can best help your business.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
